{% extends 'base.html.twig' %}

{% block body %}
    <h1>System users</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Last login</th>
                <th>Password requested at</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fosUser in fosUsers %}
                <tr>
                    <td>
                        <a href="{{ path('admin_users_show', { 'id': fosUser.id }) }}">{{ fosUser.username }}</a>
                    </td>
                    <td>{{ fosUser.email }}</td>
                    <td>
                        {% if fosUser.enabled %}Yes{% else %}No{% endif %}
                    </td>
                    <td>
                        {% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}
                    </td>
                    <td>
                        {% if fosUser.passwordRequestedAt %}{{ fosUser.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}
                    </td>
                    <td>
                        {% if fosUser.roles %}{{ fosUser.roles|join(', ') }}{% endif %}
                    </td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_users_show', { 'id': fosUser.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_users_edit', { 'id': fosUser.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_users_new') }}">Create a new system user</a>
        </li>
    </ul>
{% endblock %}
