{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trips list</h1>

    <table class="table-bordered table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Trip date</th>
                <th>Route</th>
                <th>Comment</th>
                <th>Date created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.id }}</td>
                <td><a href="{{ path('admin_trip_show', { 'id': trip.id }) }}">{{ trip.type }}</a></td>
                <td>{% if trip.date %}{{ trip.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if trip.tripCities %}
                        {% for tripCity in trip.tripCities %}
                            <a href={{ path('admin_customer_city_show' , {'id' : tripCity.city.id}) }}>
                                {{ tripCity.city.city.city }}{% if not loop.last %},{% endif %}
                            </a>

                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ trip.comment }}</td>
                <td>{{ trip.dateCreated | date('Y-m-d H:i:s') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_trip_show', { 'id': trip.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_trip_edit', { 'id': trip.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_trip_new') }}">Create a new trip</a>
        </li>
    </ul>
{% endblock %}
