{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trip</h1>

    <table>
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ trip.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if trip.date %}{{ trip.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ trip.comment }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ trip.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_trip_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_trip_edit', { 'id': trip.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
