{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cities added</h1>

    <table class="table-bordered table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City customer</th>
                <th>name</th>
                <th>Date arrived</th>
                <th>Date departed</th>
                <th>Logitude</th>
                <th>Latitude</th>
                <th>City breif</th>
                <th>Current city</th>
                <th>Visited city</th>
                <th>Lived city</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customerCity in customerCities %}
                <tr>
                    <td>
                        <a href="{{ path('admin_customer_city_show', { 'id': customerCity.id }) }}">{{ customerCity.id }}</a>
                    </td>
                    <td>
                        {% if customerCity.customer is not null %}
                            <a href="{{path('admin_customer_show' , {'id': customerCity.customer.id})}}">
                                {{customerCity.customer.username}}
                            </a>
                        {% endif %}
                        <td>{{ customerCity.cityName }}</td>
                        <td>
                            {% if customerCity.dateArrived %}{{ customerCity.dateArrived|date('Y-m-d H:i:s') }}{% endif %}
                        </td>
                        <td>
                            {% if customerCity.dateDeparted %}{{ customerCity.dateDeparted|date('Y-m-d H:i:s') }}{% endif %}
                        </td>
                        <td>{{ customerCity.logitude }}</td>
                        <td>{{ customerCity.latitude }}</td>
                        <td>{{ customerCity.cityBreif }}</td>
                        <td>
                            {% if customerCity.currentCity %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            {% if customerCity.visitedCity %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            {% if customerCity.livedCity %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_customer_city_show', { 'id': customerCity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_customer_city_edit', { 'id': customerCity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_customer_city_new') }}">Create a new customerCity</a>
            </li>
        </ul>
    {% endblock %}
