{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cities added</h1>

    <table class="table-bordered table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City customer</th>
                <th>Name</th>
                <th>Date arrived</th>
                <th>Date departed</th>
                <th>Current</th>
                <th>Visited</th>
                <th>Lived</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customerCity in customerCities %}
                <tr>
                    <td>
                        <a href="{{ path('admin_customer_city_show', { 'id': customerCity.id }) }}">{{ customerCity.id }}</a>
                    </td>
                    <td>
                        {% if customerCity.point is not null and customerCity.point.customer is not null %}
                            <a href="{{path('admin_customer_show' , {'id': customerCity.point.customer.id})}}">
                                {{customerCity.point.customer.username}}
                            </a>
                        {% endif %}
                        <td>
                            {% if customerCity.point is not null and customerCity.point.city %}{{ customerCity.point.city.city }}
                                ,
                                {{ customerCity.point.city.country }}{% endif %}
                        </td>

                        <td>
                            {% if customerCity.point is not null and customerCity.point.dateArrived %}{{ customerCity.point.dateArrived|date('Y-m-d') }}{% endif %}
                        </td>
                        <td>
                            {% if customerCity.point is not null and customerCity.point.dateDeparted %}{{ customerCity.point.dateDeparted|date('Y-m-d') }}{% endif %}
                        </td>
                        <td>
                            {% if customerCity.currentCity %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            {% if customerCity.visitedCity %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            {% if customerCity.livedCity %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_customer_city_show', { 'id': customerCity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_customer_city_edit', { 'id': customerCity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_customer_city_new') }}">Create a new customerCity</a>
            </li>
        </ul>
    {% endblock %}
