{% extends 'base.html.twig' %}

{% block body %}
    <h1>City</h1>
    <div class="col-xs-5">
        <table class="table table-border">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ customerCity.id }}</td>
                </tr>

                <tr>
                    <th>City name</th>
                    <td>{{ customerCity.city.city }}</td>
                </tr>

                <tr>
                    <th>Country</th>
                    <td>{{ customerCity.city.country }}</td>
                </tr>

                <tr>
                    <th>Date arrived</th>
                    <td>
                        {% if customerCity.dateArrived %}{{ customerCity.dateArrived|date('Y-m-d H:i:s') }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date departed</th>
                    <td>
                        {% if customerCity.dateDeparted %}{{ customerCity.dateDeparted|date('Y-m-d H:i:s') }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Logitude</th>
                    <td>{{ customerCity.logitude }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ customerCity.latitude }}</td>
                </tr>
                <tr>
                    <th>City breif</th>
                    <td>{{ customerCity.cityBrief }}</td>
                </tr>
                <tr>
                    <th>Current</th>
                    <td>
                        {% if customerCity.currentCity %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Visited</th>
                    <td>
                        {% if customerCity.visitedCity %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Lived</th>
                    <td>
                        {% if customerCity.livedCity %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Owner</th>
                    <td>
                        {% if customerCity.customer %}{{customerCity.customer.username}}{% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-6 col-xs-offset-1">
        <div id="map" style="width:100%;height:500px"></div>
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_customer_city_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_customer_city_edit', { 'id': customerCity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <script>
        function cityOnTheMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng({{customerCity.getLatitude}}, {{customerCity.getLogitude}}),
                zoom: 12
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=cityOnTheMap&key=AIzaSyDWRksnVtfXTXSdWBnw0BOjh53xvmeg-e0"></script>

{% endblock %}
