{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer creation</h1>

    {{ form_start(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}

    <h3>Cities</h3>

    <ul class="cities" data-prototype="{{form_widget(form.customerCities.vars.prototype)|e('html_attr')}}">

        {% for city in form.customerCities %}
            <li>{{ form_row(city.cityName) }}</li>
        {% endfor %}

    </ul>

    <input type="submit" value="Create"/>

    {{ form_end(form) }}

    <li>
        <a href="{{ path('admin_customer_index') }}">Back to the list</a>
    </li>
</ul>

{% endblock %}
